In [5]:
import re
import pandas as pd

def cnic(x,dt):
    x=x.replace("-","")
    df1 = pd.DataFrame({"CNIC":re.findall('\d{13}',x)})
    df1['Date'] = pd.to_datetime(dt)
    df1.drop_duplicates(inplace=True)
    return df1

In [8]:
c1 = """
MAAZ AHMED1:10 PM
YES
SHAHRUKH KHAN1:10 PM
yes
MAAZ AHMED1:10 PM
ATTENDANCE 42201-81749601-1
MAAZ AHMED1:11 PM
42201-8174960-1
Ali Affan Yaqoob1:12 PM
ruko zara, sabar kero :)
Usama Ahmed1:13 PM
sir, aap ki voice echo hu rahi ha
Zubair ,1:15 PM
1310104942039
Ali Affan Yaqoob1:29 PM
Polar tau ny tha?
Ali Affan Yaqoob1:31 PM
Power Query is the best example of ETL
Ali Affan Yaqoob1:36 PM
https://www.sqlalchemy.org
Ahsan Fayyaz1:39 PM
matplotlib
seaborn
Ayaz Muhammad1:41 PM
4520282632947
Ahsan Fayyaz1:42 PM
GraphQL
Areeba Ghazal1:42 PM
42201-0835418-4     areeba
Owais Ahmed1:44 PM
4220103194893
Ahsan Fayyaz1:45 PM
4220115069023
ali soorani1:46 PM
4210105756299
ShahzadAzam Hashmi1:47 PM
3630247912847
Ali Jilani1:47 PM
Sir please sir your screen
osama saleem1:47 PM
4220182861439
Ali Jilani1:47 PM
Share
Ali Affan Yaqoob1:48 PM
we should create EXAMGPT
Muhammad Hassan1:50 PM
sir screen share nai karna hain
ali soorani1:50 PM
4210124505207
Engr Mahmood Ul Hassan1:53 PM
4250185234859
Ali Affan Yaqoob1:53 PM
42101-5031761-9
Fahad Aziz Khan1:55 PM
42201-9579506-5
Ali Jilani1:55 PM
Sql
Fahad Aziz Khan1:55 PM
SQL
Muhammad Hassan1:55 PM
sql
Ahsan Fayyaz1:55 PM
sql
Arsalan Shaikh1:55 PM
Please share your screen
Areeba Ghazal1:55 PM
sql
Rameez Shaikh1:56 PM
Sql
Ahsan Fayyaz1:56 PM
sql
Umer Fariq1:57 PM
sql
Ahsan Fayyaz1:57 PM
how to vote ?
Misbah Sabir1:57 PM
Sql
Wahid Khan1:57 PM
SQL
Umer Fariq1:58 PM
something wrong with my chrome
cant open classrom link
Sadaf Tirmizi1:59 PM
sql
Ahsan Fayyaz2:00 PM
4220115069023
Misbah Sabir2:00 PM
4210158021374
Ahsan Fayyaz2:05 PM
4220115069023
Muhammad Hassan2:14 PM
https://livesql.oracle.com/
Abdul Haseeb Khan2:26 PM
42201-0308433-9
Dr Nadeem Shah2:26 PM
41304-6492659-9
Muhammad Haneef2:27 PM
4220134664875
Hassan Qamar2:40 PM
4220110629561
Sadaf Tirmizi2:51 PM
4210172467310
Noman Younus3:11 PM
4220102372205
Abdulrafay Memon3:11 PM
45204-3483907-1
Hassan Qamar3:11 PM
concatenation operator ||
Ali Affan Yaqoob3:11 PM
try this
STRING_AGG
Misbah Sabir3:12 PM
4210158021374
Munir Mirza3:12 PM
4210105756299
Ali Jilani3:12 PM
4220114056719
Ali Mehdi3:12 PM
4220193871331
Ahmed Ali3:17 PM
42101-0724035-9
Iqra Talha3:17 PM
611012031528
Arsalan Shaikh3:18 PM
42201-6205339-3
Ahsan Fayyaz3:24 PM
4220115069023
Umer Fariq3:29 PM
4220122685447
Abdulrafay Memon3:29 PM
4520434839071
SHAHRUKH KHAN3:31 PM
4210105390867
You3:32 PM
https://github.com/EnggQasim/NED_BATCH4_DATA_VIUSALIZATION
Usama Ahmed3:32 PM
6110196883915
You3:33 PM
https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_columns
Suhail Arif3:33 PM
Suhail Arif Hussain  4220176777201
Syed Imran Ali3:33 PM
4210176950677
Shaine Mohammadali
Raheel Sadruddin3:34 PM
4210129790553
usama hanif3:34 PM
4210132209059
Syed Imran Ali3:34 PM
4220101506801
Shaine
Wahid Khan3:35 PM
42101-1693504-9
Saad Shoaib3:35 PM
41304-1401693-1
osama saleem3:36 PM
4220182861439
Mohsin Kamal3:38 PM
4230108855633
Noor Saba3:38 PM
4220187822116
ehzam ahmed3:38 PM
4220176323111
salman soorani3:38 PM
4210105756299
Syed Imran Ali3:38 PM
4210157421004
ShahzadAzam Hashmi3:38 PM
3630247912847
Abdulrafay Memon3:38 PM
4520434839071
Engr Mahmood Ul Hassan3:38 PM
4250185234859
Noor Saba3:38 PM
4220178140796
salman soorani3:38 PM
4210124505207
Ahmed Ali3:38 PM
42101-0724035-9
Sheza Shams3:39 PM
42201-0218814-0
Raja Waleed3:40 PM
42201-8855051-5
Syed Muzammil Haider3:43 PM
4210149039311
Ali Affan Yaqoob3:45 PM
4210150317619
Muneeb Bhania3:47 PM
42101-3818298-7
4250177756968
yvm-vqao-gpa
"""
df1 = cnic(c1,'2023-04-30')
df1

             CNIC       Date
0   4220181749601 2023-04-30
2   1310104942039 2023-04-30
3   4520282632947 2023-04-30
4   4220108354184 2023-04-30
5   4220103194893 2023-04-30
6   4220115069023 2023-04-30
7   4210105756299 2023-04-30
8   3630247912847 2023-04-30
9   4220182861439 2023-04-30
10  4210124505207 2023-04-30
11  4250185234859 2023-04-30
12  4210150317619 2023-04-30
13  4220195795065 2023-04-30
15  4210158021374 2023-04-30
17  4220103084339 2023-04-30
18  4130464926599 2023-04-30
19  4220134664875 2023-04-30
20  4220110629561 2023-04-30
21  4210172467310 2023-04-30
22  4220102372205 2023-04-30
23  4520434839071 2023-04-30
26  4220114056719 2023-04-30
27  4220193871331 2023-04-30
28  4210107240359 2023-04-30
29  4220162053393 2023-04-30
31  4220122685447 2023-04-30
33  4210105390867 2023-04-30
34  6110196883915 2023-04-30
35  4220176777201 2023-04-30
36  4210176950677 2023-04-30
37  4210129790553 2023-04-30
38  4210132209059 2023-04-30
39  4220101506801 2023-04-30
40  4210116935049 2023-04-30
41  4130414016931 2023-04-30
43  4230108855633 2023-04-30
44  4220187822116 2023-04-30
45  4220176323111 2023-04-30
47  4210157421004 2023-04-30
51  4220178140796 2023-04-30
54  4220102188140 2023-04-30
55  4220188550515 2023-04-30
56  4210149039311 2023-04-30
58  4210138182987 2023-04-30
59  4250177756968 2023-04-30