In [1]:
import re
import pandas as pd

def cnic(x,dt):
    x=x.replace("-","")
    df1 = pd.DataFrame({"CNIC":re.findall('\d{13}',x)})
    df1['Date'] = pd.to_datetime(dt)
    df1.drop_duplicates(inplace=True)
    return df1

In [2]:
c1 = """
MAAZ AHMED1:10 PM
YES
SHAHRUKH KHAN1:10 PM
yes
MAAZ AHMED1:10 PM
ATTENDANCE 42201-81749601-1
MAAZ AHMED1:11 PM
42201-8174960-1
Ali Affan Yaqoob1:12 PM
ruko zara, sabar kero :)
Usama Ahmed1:13 PM
sir, aap ki voice echo hu rahi ha
Zubair ,1:15 PM
1310104942039
Ali Affan Yaqoob1:29 PM
Polar tau ny tha?
Ali Affan Yaqoob1:31 PM
Power Query is the best example of ETL
Ali Affan Yaqoob1:36 PM
https://www.sqlalchemy.org
Ahsan Fayyaz1:39 PM
matplotlib
seaborn
Ayaz Muhammad1:41 PM
4520282632947
Ahsan Fayyaz1:42 PM
GraphQL
Areeba Ghazal1:42 PM
42201-0835418-4     areeba
Owais Ahmed1:44 PM
4220103194893
Ahsan Fayyaz1:45 PM
4220115069023
ali soorani1:46 PM
4210105756299
ShahzadAzam Hashmi1:47 PM
3630247912847
Ali Jilani1:47 PM
Sir please sir your screen
osama saleem1:47 PM
4220182861439
Ali Jilani1:47 PM
Share
Ali Affan Yaqoob1:48 PM
we should create EXAMGPT
Muhammad Hassan1:50 PM
sir screen share nai karna hain
ali soorani1:50 PM
4210124505207
Engr Mahmood Ul Hassan1:53 PM
4250185234859
Ali Affan Yaqoob1:53 PM
42101-5031761-9
Fahad Aziz Khan1:55 PM
42201-9579506-5
Ali Jilani1:55 PM
Sql
Fahad Aziz Khan1:55 PM
SQL
Muhammad Hassan1:55 PM
sql
Ahsan Fayyaz1:55 PM
sql
Arsalan Shaikh1:55 PM
Please share your screen
Areeba Ghazal1:55 PM
sql
Rameez Shaikh1:56 PM
Sql
Ahsan Fayyaz1:56 PM
sql
Umer Fariq1:57 PM
sql
Ahsan Fayyaz1:57 PM
how to vote ?
Misbah Sabir1:57 PM
Sql
Wahid Khan1:57 PM
SQL
Umer Fariq1:58 PM
something wrong with my chrome
cant open classrom link
Sadaf Tirmizi1:59 PM
sql
Ahsan Fayyaz2:00 PM
4220115069023
Misbah Sabir2:00 PM
4210158021374
Ahsan Fayyaz2:05 PM
4220115069023
Muhammad Hassan2:14 PM
https://livesql.oracle.com/
Abdul Haseeb Khan2:26 PM
42201-0308433-9
Dr Nadeem Shah2:26 PM
41304-6492659-9
Muhammad Haneef2:27 PM
4220134664875
Hassan Qamar2:40 PM
4220110629561
Sadaf Tirmizi2:51 PM
4210172467310
Noman Younus3:11 PM
4220102372205
Abdulrafay Memon3:11 PM
45204-3483907-1
Hassan Qamar3:11 PM
concatenation operator ||
Ali Affan Yaqoob3:11 PM
try this
STRING_AGG
Misbah Sabir3:12 PM
4210158021374
Munir Mirza3:12 PM
4210105756299
Ali Jilani3:12 PM
4220114056719
Ali Mehdi3:12 PM
4220193871331
Ahmed Ali3:17 PM
42101-0724035-9
Iqra Talha3:17 PM
611012031528
Arsalan Shaikh3:18 PM
42201-6205339-3
Ahsan Fayyaz3:24 PM
4220115069023
Umer Fariq3:29 PM
4220122685447
Abdulrafay Memon3:29 PM
4520434839071
SHAHRUKH KHAN3:31 PM
4210105390867
You3:32 PM
https://github.com/EnggQasim/NED_BATCH4_DATA_VIUSALIZATION
Usama Ahmed3:32 PM
6110196883915
You3:33 PM
https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_columns
Suhail Arif3:33 PM
Suhail Arif Hussain  4220176777201
Syed Imran Ali3:33 PM
4210176950677
Shaine Mohammadali
Raheel Sadruddin3:34 PM
4210129790553
usama hanif3:34 PM
4210132209059
Syed Imran Ali3:34 PM
4220101506801
Shaine
Wahid Khan3:35 PM
42101-1693504-9
Saad Shoaib3:35 PM
41304-1401693-1
osama saleem3:36 PM
4220182861439
Mohsin Kamal3:38 PM
4230108855633
Noor Saba3:38 PM
4220187822116
ehzam ahmed3:38 PM
4220176323111
salman soorani3:38 PM
4210105756299
Syed Imran Ali3:38 PM
4210157421004
ShahzadAzam Hashmi3:38 PM
3630247912847
Abdulrafay Memon3:38 PM
4520434839071
Engr Mahmood Ul Hassan3:38 PM
4250185234859
Noor Saba3:38 PM
4220178140796
salman soorani3:38 PM
4210124505207
Ahmed Ali3:38 PM
42101-0724035-9
Sheza Shams3:39 PM
42201-0218814-0
Raja Waleed3:40 PM
42201-8855051-5
Syed Muzammil Haider3:43 PM
4210149039311
Ali Affan Yaqoob3:45 PM
4210150317619
Muneeb Bhania3:47 PM
42101-3818298-7
4250177756968
Muhammad Haris Bin Khalid4:00 PM
4210101244031
Muhammad Haris Bin Khalid4:12 PM
4210101244031
Saad Shoaib4:18 PM
I shared a Jam file with the meeting: https://jamboard.google.com/d/1OIE1Sv72Q0JHDiLUQl3aaZfPKcmnkTWqu5Z_Pirun9A/edit?usp=meet_whiteboard
Ahsan Fayyaz4:31 PM
4220115069023
Maria Noor Amjad4:41 PM
6110119569820
Saad Shoaib4:55 PM
ok
Saad Shoaib4:59 PM
41304-1401693-1 physical
yvm-vqao-gpa
"""
df1 = cnic(c1,'2023-04-30')
print(len(df1))
df1

47

             CNIC       Date
0   4220181749601 2023-04-30
2   1310104942039 2023-04-30
3   4520282632947 2023-04-30
4   4220108354184 2023-04-30
5   4220103194893 2023-04-30
6   4220115069023 2023-04-30
7   4210105756299 2023-04-30
8   3630247912847 2023-04-30
9   4220182861439 2023-04-30
10  4210124505207 2023-04-30
11  4250185234859 2023-04-30
12  4210150317619 2023-04-30
13  4220195795065 2023-04-30
15  4210158021374 2023-04-30
17  4220103084339 2023-04-30
18  4130464926599 2023-04-30
19  4220134664875 2023-04-30
20  4220110629561 2023-04-30
21  4210172467310 2023-04-30
22  4220102372205 2023-04-30
23  4520434839071 2023-04-30
26  4220114056719 2023-04-30
27  4220193871331 2023-04-30
28  4210107240359 2023-04-30
29  4220162053393 2023-04-30
31  4220122685447 2023-04-30
33  4210105390867 2023-04-30
34  6110196883915 2023-04-30
35  4220176777201 2023-04-30
36  4210176950677 2023-04-30
37  4210129790553 2023-04-30
38  4210132209059 2023-04-30
39  4220101506801 2023-04-30
40  4210116935049 2023-04-30
41  4130414016931 2023-04-30
43  4230108855633 2023-04-30
44  4220187822116 2023-04-30
45  4220176323111 2023-04-30
47  4210157421004 2023-04-30
51  4220178140796 2023-04-30
54  4220102188140 2023-04-30
55  4220188550515 2023-04-30
56  4210149039311 2023-04-30
58  4210138182987 2023-04-30
59  4250177756968 2023-04-30
60  4210101244031 2023-04-30
63  6110119569820 2023-04-30

In [3]:
c1 = """
Hassan Qamar1:40 PM
4220110629561
osama saleem1:40 PM
4220182861439
Syed Imran Ali1:41 PM
Yes sir
Abdul Haseeb Khan1:41 PM
not familiar
Areeba Ghazal1:41 PM
yes sir
Ayaz Muhammad1:41 PM
4520282632947
Nasir Ali1:42 PM
4330401845851
Abdul Haseeb Khan1:42 PM
4220103084339
MAAZ AHMED1:45 PM
42201-8174960-1
sadia faiyaz1:51 PM
4210157421004
salman soorani1:52 PM
4210105756299
Ahmed Ali2:00 PM
42101-0724035-9
osama saleem2:04 PM
4220182861439
Engr Mahmood Ul Hassan2:08 PM
4250185234859
Misbah Sabir2:11 PM
4210158021374
Athar Khalid2:11 PM
4210158892613 - athar
Ali Mehdi2:11 PM
42201-9387133-1
Muhammad Uzair2:12 PM
42101-2548111-7
MAAZ AHMED2:16 PM
YES, WIKI BLOCK
MAAZ AHMED2:18 PM
https://numpy.org/doc/stable/user/absolute_beginners.html
Maria Noor Amjad2:18 PM
6110119569820
Fahad Aziz Khan2:19 PM
42201-9579506-5
MAAZ AHMED2:22 PM
600% IS 6 TIMES
wardah siddiqui2:24 PM
4210166120772
Umer Fariq2:27 PM
4220122685447
Hassan Qamar2:28 PM
4220110629561
Raja Waleed2:31 PM
42201-8855051-5
Ali Affan Yaqoob2:36 PM
42101-5031761-9
Noor Saba2:43 PM
4220187822116
Ali Jilani2:49 PM
4220114056719
Munir Mirza2:49 PM
4210105756299
Syed Imran Ali2:50 PM
4210176950677
Masood M. Khokhar2:51 PM
425014808239
Munir Mirza2:51 PM
4220102372205
Noor Saba2:51 PM
42201-7814079-6
Masood M. Khokhar2:51 PM
4250148082389
Suhail Arif2:53 PM
Suhail ARif HUssain 4220176777201
Ahsan Fayyaz2:59 PM
4220115069023
Ahzam3:03 PM
4220176323111
Usama Ahmed3:04 PM
6110196883915
Abdulrafay Memon3:05 PM
45204-3483907-1
Sheza Shams3:05 PM
42201-0218814-0
Farooq Ahmad3:05 PM
3520294446451
Wahid Khan3:05 PM
4210116935049
Mohsin Kamal3:05 PM
4230108855633
Abdulrafay Memon3:05 PM
4520434839071
salman soorani3:05 PM
4210105756299
MAAZ AHMED3:05 PM
4220181749601
sadia faiyaz3:05 PM
4210157421004
osama saleem3:05 PM
4220182861439
Fahad Aziz Khan3:05 PM
4220195795065
salman soorani3:05 PM
4210124505207
Syed Imran Ali3:05 PM
4210176950677
Suhail Arif3:06 PM
4220176777201
ShahzadAzam Hashmi3:06 PM
3630247912847
Suhail Arif3:06 PM
4220176777201 Suhail Arif Hussain
Ali Affan Yaqoob3:06 PM
42101-5031761-9
Ahsan Fayyaz3:06 PM
4220115069023
Muhammad Uzair3:06 PM
42101-2548111-7
Areeba Ghazal3:06 PM
4220108354184
MAAZ AHMED3:06 PM
DATE 06
Hassan Qamar3:06 PM
4220110629561
Areeba Ghazal3:07 PM
4210172467310   sadaf
Ali Mehdi3:07 PM
42201-93871331-1
Syed Owais Ahmed3:07 PM
4220103194893
yvm-vqao-gpa
"""
df2 = cnic(c1,'2023-05-06')
print(len(df2))
df2

40

             CNIC       Date
0   4220110629561 2023-05-06
1   4220182861439 2023-05-06
2   4520282632947 2023-05-06
3   4330401845851 2023-05-06
4   4220103084339 2023-05-06
5   4220181749601 2023-05-06
6   4210157421004 2023-05-06
7   4210105756299 2023-05-06
8   4210107240359 2023-05-06
10  4250185234859 2023-05-06
11  4210158021374 2023-05-06
12  4210158892613 2023-05-06
13  4220193871331 2023-05-06
14  4210125481117 2023-05-06
15  6110119569820 2023-05-06
16  4220195795065 2023-05-06
17  4210166120772 2023-05-06
18  4220122685447 2023-05-06
20  4220188550515 2023-05-06
21  4210150317619 2023-05-06
22  4220187822116 2023-05-06
23  4220114056719 2023-05-06
25  4210176950677 2023-05-06
26  4220102372205 2023-05-06
27  4220178140796 2023-05-06
28  4250148082389 2023-05-06
29  4220176777201 2023-05-06
30  4220115069023 2023-05-06
31  4220176323111 2023-05-06
32  6110196883915 2023-05-06
33  4520434839071 2023-05-06
34  4220102188140 2023-05-06
35  3520294446451 2023-05-06
36  4210116935049 2023-05-06
37  4230108855633 2023-05-06
44  4210124505207 2023-05-06
47  3630247912847 2023-05-06
52  4220108354184 2023-05-06
54  4210172467310 2023-05-06
56  4220103194893 2023-05-06

In [4]:
c3 = """
Sadaf Tirmizi1:08 PM
4210172467310
Mahnoor Arif1:08 PM
4220178140796
Masood M. Khokhar1:12 PM
42501-4808238-9
Zubair ,1:17 PM
1310104942039
Ahmed Ali1:45 PM
4210107240359
Engr Mahmood Ul Hassan1:45 PM
4250185234859
Muhammad Haneef1:48 PM
4220134664875
sadia faiyaz1:58 PM
4210157421004
salman soorani2:01 PM
4210105756299
ShahzadAzam Hashmi2:01 PM
3630247912847
Ali Mehdi2:08 PM
42201-9387133-1
MAAZ AHMED2:08 PM
Attendance
salman soorani2:08 PM
4210124505207
MAAZ AHMED2:08 PM
4220181749601
Umer Fariq2:08 PM
4220122685447
Ali Affan Yaqoob2:09 PM
42101-5031761-9
Hassan Qamar2:14 PM
4220110629561
Ali Mehdi2:19 PM
S. Owais Ahmed
4220103194893
salman soorani2:28 PM
4220102372205
Ali Jilani2:28 PM
4220114056719
Iqra Talha2:28 PM
6110120315128
Noor Saba2:28 PM
4220187822116
Abdulrafay Memon2:34 PM
4520434839071
salman soorani2:34 PM
4210105756299
sadia faiyaz2:35 PM
4210157421004
salman soorani2:35 PM
4210124505207
Ali Affan Yaqoob2:39 PM
42201-0308433-9
Fahad Aziz Khan2:39 PM
42201-9579506-5
Ali Affan Yaqoob2:44 PM
42201-0308433-9
Misbah Sabir2:44 PM
4210158021374
Ahsan Fayyaz2:45 PM
4220115069023
Ali Affan Yaqoob2:45 PM
42101-5031761-9
Muneeb Bhania2:46 PM
4250177756968
42101-3818298-7
Areeba Ghazal2:46 PM
4220108354184
Ahzam2:47 PM
4220176323111
MAAZ AHMED2:47 PM
What is class WiFi username and password?
Usama Ahmed2:50 PM
6110196883915
Sheza Shams2:51 PM
42201-0218814-0
Raheel Sadruddin2:53 PM
4210129790553
Mohsin Kamal2:57 PM
4230108855633
Fahad Aziz Khan2:58 PM
42201-9579506-5
Shahrukh Khan3:00 PM
4210105390867
Areeba Ghazal3:00 PM
42201-0108354184
Mahnoor Arif3:00 PM
4220178140796
Sadaf Tirmizi3:00 PM
4210172467310
Ali Jilani3:00 PM
4220114056719
Masood M. Khokhar3:00 PM
4250148082389
Engr Mahmood Ul Hassan3:00 PM
4250185234859
Syed Muzammil Haider3:00 PM
4210149039311
Raheel Sadruddin3:00 PM
4210129790553
ShahzadAzam Hashmi3:01 PM
3630247912847
Muhammad Haris Bin Khalid3:01 PM
4210101244031
Mohsin Kamal3:01 PM
42301-0885563-3
Ali Affan Yaqoob3:01 PM
4220182861439
usama saleem
4210132209059
Engr Mahmood Ul Hassan3:02 PM
4210176950677
yvm-vqao-gpa
"""
df3 = cnic(c3,'2023-05-07')
print(len(df3))
df3

41

             CNIC       Date
0   4210172467310 2023-05-07
1   4220178140796 2023-05-07
2   4250148082389 2023-05-07
3   1310104942039 2023-05-07
4   4210107240359 2023-05-07
5   4250185234859 2023-05-07
6   4220134664875 2023-05-07
7   4210157421004 2023-05-07
8   4210105756299 2023-05-07
9   3630247912847 2023-05-07
10  4220193871331 2023-05-07
11  4210124505207 2023-05-07
12  4220181749601 2023-05-07
13  4220122685447 2023-05-07
14  4210150317619 2023-05-07
15  4220110629561 2023-05-07
16  4220103194893 2023-05-07
17  4220102372205 2023-05-07
18  4220114056719 2023-05-07
19  6110120315128 2023-05-07
20  4220187822116 2023-05-07
21  4520434839071 2023-05-07
25  4220103084339 2023-05-07
26  4220195795065 2023-05-07
28  4210158021374 2023-05-07
29  4220115069023 2023-05-07
31  4250177756968 2023-05-07
32  4210138182987 2023-05-07
33  4220108354184 2023-05-07
34  4220176323111 2023-05-07
35  6110196883915 2023-05-07
36  4220102188140 2023-05-07
37  4210129790553 2023-05-07
38  4230108855633 2023-05-07
40  4210105390867 2023-05-07
41  4220101083541 2023-05-07
47  4210149039311 2023-05-07
50  4210101244031 2023-05-07
52  4220182861439 2023-05-07
53  4210132209059 2023-05-07
54  4210176950677 2023-05-07

In [5]:
c4 = """
Engr Mahmood Ul Hassan1:08 PM
4250185234859
Ali Affan Yaqoob1:08 PM
ruko zara, sabar kero :P
Aijaz Ahmed1:08 PM
4520691925699
Mutawassam Ali1:09 PM
3720117887067
Misbah Sabir1:09 PM
4210158021374
Abdul Haseeb Khan1:13 PM
4220103084339
Munir Mirza1:13 PM
4210105756299
4220102372205
salman soorani1:13 PM
4210124505207
Ali Affan Yaqoob1:15 PM
42101-5031761-9
osama saleem1:18 PM
4220182861439
MAAZ AHMED1:20 PM
ATTENDANCE?
42201-8174960-1
Ahsan Fayyaz1:20 PM
4220115069023
ShahzadAzam Hashmi1:21 PM
3630247912847
Owais Ahmed1:21 PM
4220103194893
Suhail Arif1:22 PM
Suhail Arif Hussain
Suhail Arif HUssain 4220176777201
Suhail Arif1:23 PM
42201-6205339-3
Usama Ahmed1:59 PM
yes
osama saleem1:59 PM
yes
Misbah Sabir1:59 PM
yes
Ali Affan Yaqoob1:59 PM
yes
Wahid Khan1:59 PM
YES
ShahzadAzam Hashmi1:59 PM
Yes
Ahmed Ali2:02 PM
42101-0724035-9
Syed Imran Ali2:02 PM
4210176950677
Muhammad Haneef2:04 PM
4220134664875
Maria Noor Amjad2:06 PM
6110119569820
salman soorani2:06 PM
4210124505207
Ali Mehdi2:06 PM
42201-9387133-1
sadia faiyaz2:20 PM
4210157421004
Noor Saba2:21 PM
4220187822116
Sadaf Tirmizi2:24 PM
4210172467310
Usama Ahmed2:24 PM
6110196883915
Ahsan Fayyaz2:25 PM
4220115069023
Wahid Khan2:26 PM
4210116935049
Noor Saba2:26 PM
4220178140796
Ahzam2:30 PM
4220176323111
Abdulrafay Memon2:30 PM
45204-3483907-1
Hassan Qamar2:31 PM
4220110629561
Fahad Aziz Khan2:35 PM
4220195795065
Masood M. Khokhar2:39 PM
42501-4808238-9
Sheza Shams2:40 PM
42201-0218814-0
Abdulrafay Memon2:40 PM
4520434839071
Masood M. Khokhar2:47 PM
4250148082389
Muneeb Bhania2:48 PM
42101-3818298-7
4250177756968
Muhammad Haris Bin Khalid2:49 PM
42101-0124403-1
salman soorani2:53 PM
4210124505207
Naheed Deedar2:54 PM
4220108354184
osama saleem2:54 PM
4220182861439
Mohsin Kamal2:54 PM
4230108855633
Syed Muzammil Haider2:54 PM
4210149039311
Ali Affan Yaqoob2:54 PM
42101-5031761-9
Ali Jilani2:54 PM
4220114056719
Syed Imran Ali2:54 PM
4210176950677
Engr Mahmood Ul Hassan2:54 PM
4250185234859
Misbah Sabir2:54 PM
4210158021374
Naheed Deedar2:54 PM
42201083154184  areeba
Muneeb Bhania2:54 PM
42101-3818298-7
sadia faiyaz2:54 PM
4210157421004
Muneeb Bhania2:54 PM
4250177756968
Suhail Arif2:54 PM
4210132209059
ShahzadAzam Hashmi2:55 PM
3630247912847
Ali Mehdi2:55 PM
42201-9387133-1
Ali Jilani2:55 PM
4220114056719
Suhail Arif2:55 PM
4130414016931
Ahsan Fayyaz2:55 PM
4220115069023
yvm-vqao-gpa
"""
df4 = cnic(c4,'2023-05-13')
print(len(df4))
df4

43

             CNIC       Date
0   4250185234859 2023-05-13
1   4520691925699 2023-05-13
2   3720117887067 2023-05-13
3   4210158021374 2023-05-13
4   4220103084339 2023-05-13
5   4210105756299 2023-05-13
6   4220102372205 2023-05-13
7   4210124505207 2023-05-13
8   4210150317619 2023-05-13
9   4220182861439 2023-05-13
10  4220181749601 2023-05-13
11  4220115069023 2023-05-13
12  3630247912847 2023-05-13
13  4220103194893 2023-05-13
14  4220176777201 2023-05-13
15  4220162053393 2023-05-13
16  4210107240359 2023-05-13
17  4210176950677 2023-05-13
18  4220134664875 2023-05-13
19  6110119569820 2023-05-13
21  4220193871331 2023-05-13
22  4210157421004 2023-05-13
23  4220187822116 2023-05-13
24  4210172467310 2023-05-13
25  6110196883915 2023-05-13
27  4210116935049 2023-05-13
28  4220178140796 2023-05-13
29  4220176323111 2023-05-13
30  4520434839071 2023-05-13
31  4220110629561 2023-05-13
32  4220195795065 2023-05-13
33  4250148082389 2023-05-13
34  4220102188140 2023-05-13
37  4210138182987 2023-05-13
38  4250177756968 2023-05-13
39  4210101244031 2023-05-13
41  4220108354184 2023-05-13
43  4230108855633 2023-05-13
44  4210149039311 2023-05-13
46  4220114056719 2023-05-13
50  4220108315418 2023-05-13
54  4210132209059 2023-05-13
58  4130414016931 2023-05-13

In [7]:
c5 = """
usama hanif2:33 PM
4210132209059
sadia faiyaz2:36 PM
4210157421004
Usama Ahmed2:36 PM
6110196883915
Wahid Khan2:37 PM
4210116935049
Sadaf Tirmizi2:40 PM
4210172467310
Mahnoor Arif2:40 PM
4220187822116
Suhail Arif2:41 PM
Suhail Arif Hussain 4220176777201
Ali Mehdi2:41 PM
42201-9387133-1
Owais Ahmed2:41 PM
4220103194893
Ahmed Ali2:42 PM
4210107240359
Aijaz Ahmed2:44 PM
4520691925699
Masood M. Khokhar2:45 PM
42501-4808238-9
Muhammad Haris Bin Khalid2:45 PM
4210101244031
Abdulrafay Memon2:46 PM
45204-3483907-1
Sheza Shams2:46 PM
42201-0218814-0
Mahnoor Arif2:52 PM
4220178140796
Syed Muzammil Haider2:52 PM
4210149039311
Areeba Ghazal2:52 PM
42201-0835418-4
Abdulrafay Memon2:52 PM
4520434839071
Engr Mahmood Ul Hassan2:53 PM
4250185234859
Hassan Qamar2:53 PM
4220110629561
salman soorani2:53 PM
4210124505207
Mohsin Kamal2:53 PM
4230108855633
Muneeb Bhania2:53 PM
4250177756968
Ali Jilani2:53 PM
4220114056719
ShahzadAzam Hashmi2:53 PM
3630247912847
usama hanif2:53 PM
4210132209059
Syed Imran Ali2:53 PM
4210176950677
wardah siddiqui2:53 PM
4210166120772
Mohsin Kamal2:53 PM
4220103084339
Muneeb Bhania2:53 PM
42101-3818298-7
Masood M. Khokhar2:53 PM
4250148082389
Areeba Ghazal2:53 PM
4210157421004
Engr Mahmood Ul Hassan2:53 PM
4210129790553
Munir Mirza2:53 PM
4210105756299
Ali Jilani2:53 PM
4220114056719
salman soorani2:53 PM
4210105756299
Usama Ahmed2:53 PM
6110196883915
Umer Fariq2:53 PM
4220122685447
Suhail Arif2:53 PM
suhail arif hussain 4220176777201
Engr Mahmood Ul Hassan2:53 PM
4220162053393
Misbah Sabir2:53 PM
4210158021374
Munir Mirza2:53 PM
4220102372205
Noman Younus2:53 PM
4220102372205
Ahsan Fayyaz2:53 PM
4220115069023
SHAHRUKH KHAN2:53 PM
4210105390867
Sadaf Tirmizi2:53 PM
4210172467310
Owais Ahmed2:54 PM
Ali Affan Yaqoob
42101-5031761-9
osama saleem2:54 PM
4220182861439
Mutawassam Ali2:54 PM
3720117887067
yvm-vqao-gpa
"""
df5 = cnic(c5,'2023-05-14')
print(len(df5))
df5

40

             CNIC       Date
0   4210132209059 2023-05-14
1   4210157421004 2023-05-14
2   6110196883915 2023-05-14
3   4210116935049 2023-05-14
4   4210172467310 2023-05-14
5   4220187822116 2023-05-14
6   4220176777201 2023-05-14
7   4220193871331 2023-05-14
8   4220103194893 2023-05-14
9   4210107240359 2023-05-14
10  4520691925699 2023-05-14
11  4250148082389 2023-05-14
12  4210101244031 2023-05-14
13  4520434839071 2023-05-14
14  4220102188140 2023-05-14
15  4220178140796 2023-05-14
16  4210149039311 2023-05-14
17  4220108354184 2023-05-14
19  4250185234859 2023-05-14
20  4220110629561 2023-05-14
21  4210124505207 2023-05-14
22  4230108855633 2023-05-14
23  4250177756968 2023-05-14
24  4220114056719 2023-05-14
25  3630247912847 2023-05-14
27  4210176950677 2023-05-14
28  4210166120772 2023-05-14
29  4220103084339 2023-05-14
30  4210138182987 2023-05-14
33  4210129790553 2023-05-14
34  4210105756299 2023-05-14
38  4220122685447 2023-05-14
40  4220162053393 2023-05-14
41  4210158021374 2023-05-14
42  4220102372205 2023-05-14
44  4220115069023 2023-05-14
45  4210105390867 2023-05-14
47  4210150317619 2023-05-14
48  4220182861439 2023-05-14
49  3720117887067 2023-05-14

In [2]:
c6 = """
Team NED Academy1:01 PM
Sir please  rec
Mutawassam Ali1:04 PM
3720117887067
Masood M. Khokhar1:04 PM
4250148082389
Suhail Arif1:04 PM
Suhail Arif Hussain 4220176777201
Masood M. Khokhar1:06 PM
42501-4808238-9
salman soorani1:14 PM
4210124505207
Noor Saba1:14 PM
4220187822116
Ahsan Fayyaz1:15 PM
4220115069023
Owais Ahmed1:15 PM
4220103194893
Maria Noor Amjad1:18 PM
6110119569820
salman soorani1:19 PM
4210105756299
Sadaf Tirmizi1:20 PM
4210172467310
Suhail Arif1:21 PM
Suhail Arif Hussain 4220176777201
Ahmed Ali1:23 PM
42101-0724035-9
Aijaz Ahmed1:25 PM
4520691925699
Engr Mahmood Ul Hassan1:36 PM
4250185234859
osama saleem1:36 PM
4220182861439
sadia faiyaz1:41 PM
4210157421004
Imran Ali1:46 PM
4210176950677
Ali Affan Yaqoob1:47 PM
42101-5031761-9
Noor Saba1:49 PM
4220178140796
ShahzadAzam Hashmi1:49 PM
3630247912847
Areeba Ghazal1:51 PM
4220108354184
Hassan Qamar1:51 PM
4220110629561
Ahsan Fayyaz1:52 PM
4220115069023
Ali Jilani1:52 PM
4220114056719
4220114056719
Umer Fariq1:55 PM
4220122685447
Ahmed Ali2:07 PM
42101-0724035-9
Ali Mehdi2:08 PM
42201-9387133-1
Owais Ahmed2:08 PM
4220103194893
Nasir Ali2:08 PM
4330401845851
Sadaf Tirmizi2:10 PM
4210172467310
Arsalan Shaikh2:10 PM
42201-6205339-3
MAAZ AHMED2:11 PM
ATTENDANCE 42201-8174960-1
Muneeb Bhania2:18 PM
42101-3818298-7
4250177756968
Misbah Sabir2:19 PM
42101-5802137-4
Fahad Aziz Khan2:23 PM
4220195795065
Sheza Shams2:24 PM
42201-0218814-0
usama hanif2:27 PM
4210132209059
Usama Ahmed2:30 PM
6110196883915
Noman Younus2:31 PM
4220102372205
SHAHRUKH KHAN2:31 PM
4210105390867
Noman Younus2:33 PM
4210105756299
Ahzam2:38 PM
4220176323111
Munir Mirza2:40 PM
4210105756299
4220102372205
Iqra Talha2:44 PM
6110120315128
Umer Fariq2:45 PM
4220122685447
wardah siddiqui2:45 PM
4210166120772
Wahid Khan2:48 PM
4210116935049
Mohsin Kamal2:49 PM
4230108855633
Ali Jilani2:52 PM
4220114056719
Muhammad Haris Bin Khalid2:53 PM
4210101244031
Nasir Ali2:53 PM
4330301845851
Syed Muzammil Haider2:53 PM
4210149039311
ShahzadAzam Hashmi2:53 PM
3630247912847
Hassan Qamar2:53 PM
4220110629561
osama saleem2:53 PM
4220182861439
Engr Mahmood Ul Hassan2:53 PM
4250185234859
Ahsan Fayyaz2:54 PM
4220115069023
yvm-vqao-gpa
"""

df6 = cnic(c6,'2023-05-20')
print(len(df6))
df6

44

             CNIC       Date
0   3720117887067 2023-05-20
1   4250148082389 2023-05-20
2   4220176777201 2023-05-20
4   4210124505207 2023-05-20
5   4220187822116 2023-05-20
6   4220115069023 2023-05-20
7   4220103194893 2023-05-20
8   6110119569820 2023-05-20
9   4210105756299 2023-05-20
10  4210172467310 2023-05-20
12  4210107240359 2023-05-20
13  4520691925699 2023-05-20
14  4250185234859 2023-05-20
15  4220182861439 2023-05-20
16  4210157421004 2023-05-20
17  4210176950677 2023-05-20
18  4210150317619 2023-05-20
19  4220178140796 2023-05-20
20  3630247912847 2023-05-20
21  4220108354184 2023-05-20
22  4220110629561 2023-05-20
24  4220114056719 2023-05-20
26  4220122685447 2023-05-20
28  4220193871331 2023-05-20
30  4330401845851 2023-05-20
32  4220162053393 2023-05-20
33  4220181749601 2023-05-20
34  4210138182987 2023-05-20
35  4250177756968 2023-05-20
36  4210158021374 2023-05-20
37  4220195795065 2023-05-20
38  4220102188140 2023-05-20
39  4210132209059 2023-05-20
40  6110196883915 2023-05-20
41  4220102372205 2023-05-20
42  4210105390867 2023-05-20
44  4220176323111 2023-05-20
47  6110120315128 2023-05-20
49  4210166120772 2023-05-20
50  4210116935049 2023-05-20
51  4230108855633 2023-05-20
53  4210101244031 2023-05-20
54  4330301845851 2023-05-20
55  4210149039311 2023-05-20

In [2]:
c7 = """
Ali Affan Yaqoob1:57 PM
42101-5031761-9
Ali Mehdi2:04 PM
42201-9387133-1
Masood M. Khokhar2:04 PM
42501-4808238-9
Owais Ahmed2:07 PM
422010319489-3
Athar Khalid2:07 PM
42101-5889261-3
Mutawassam Ali2:07 PM
3720117887067
Ahzam2:10 PM
4220176323111
Athar Khalid2:11 PM
class room per kr dn
Noor Saba2:11 PM
4220187822116
Abdul Haseeb Khan2:11 PM
4220103084339
Athar Khalid2:15 PM
unique but common value in both
wardah siddiqui2:31 PM
4210166120772
salman soorani2:33 PM
4210124505207
4210105756299
Sheza Shams2:40 PM
42201-0218814-0
Misbah Sabir2:40 PM
4210158021374
Ali Affan Yaqoob2:40 PM
42101-5031761-9
Saad Shoaib2:42 PM
42201-6205339-3
42201-6205339-3
sadia faiyaz2:42 PM
4210157421004
Noman Younus2:43 PM
4220102372205
osama saleem2:43 PM
4220182861439
Noman Younus2:44 PM
4210105756299
Ali Jilani2:44 PM
4220114056719
4220114056719
Suhail Arif2:44 PM
Suhail Arif HUssain 4220176777201
Engr Mahmood Ul Hassan2:44 PM
4250185234859
Muhammad Haris Bin Khalid2:44 PM
42101-0124403-1
Ahmed Ali2:45 PM
4210107240359
Hassan Qamar2:45 PM
4220110629561
Areeba Ghazal2:52 PM
42201-0835418-4
Ahsan Fayyaz2:53 PM
4220115069023
Saad Shoaib2:53 PM
4130414016931
salman soorani2:53 PM
4210124505207
Wahid Khan2:54 PM
4210116935049
salman soorani2:55 PM
4210105756299
Usama Ahmed2:55 PM
6110196883915
Saad Shoaib2:55 PM
4130414016931
Muneeb Bhania2:55 PM
42101-3818298-7
Mahnoor Arif2:55 PM
4220178140796
Muneeb Bhania2:56 PM
4250177756968
4210105390867
Owais Ahmed2:56 PM
422010319489-3
Ahmed Ali2:56 PM
4210107240359
yvm-vqao-gpa
"""

df7 = cnic(c7,'2023-05-21')
print(len(df7))
df7

33

             CNIC       Date
0   4210150317619 2023-05-21
1   4220193871331 2023-05-21
2   4250148082389 2023-05-21
3   4220103194893 2023-05-21
4   4210158892613 2023-05-21
5   3720117887067 2023-05-21
6   4220176323111 2023-05-21
7   4220187822116 2023-05-21
8   4220103084339 2023-05-21
9   4210166120772 2023-05-21
10  4210124505207 2023-05-21
11  4210105756299 2023-05-21
12  4220102188140 2023-05-21
13  4210158021374 2023-05-21
15  4220162053393 2023-05-21
17  4210157421004 2023-05-21
18  4220102372205 2023-05-21
19  4220182861439 2023-05-21
21  4220114056719 2023-05-21
23  4220176777201 2023-05-21
24  4250185234859 2023-05-21
25  4210101244031 2023-05-21
26  4210107240359 2023-05-21
27  4220110629561 2023-05-21
28  4220108354184 2023-05-21
29  4220115069023 2023-05-21
30  4130414016931 2023-05-21
32  4210116935049 2023-05-21
34  6110196883915 2023-05-21
36  4210138182987 2023-05-21
37  4220178140796 2023-05-21
38  4250177756968 2023-05-21
39  4210105390867 2023-05-21

In [3]:
c8 = """
Suhail Arif1:03 PM
Suhail Arif Hussain 4220176777201
Ali Affan Yaqoob1:03 PM
0900-78601
Masood M. Khokhar1:04 PM
42501-4808238-9
Mutawassam Ali1:04 PM
3720117887067
Engr Mahmood Ul Hassan1:10 PM
4250185234859
usama hanif1:24 PM
4210132209059
osama saleem1:24 PM
4220182861439
Kamran Younus1:25 PM
42301-2227082-1
Ahmed Ali1:25 PM
4210107240359
salman soorani1:26 PM
4210124505207
Athar Khalid1:26 PM
Web server
Owais Ahmed1:26 PM
4220103194893
Athar Khalid1:26 PM
4210158892613
salman soorani1:26 PM
4210105756299
Maria Noor Amjad1:28 PM
6110119569820
sadia faiyaz1:29 PM
4210157421004
Ali Affan Yaqoob1:30 PM
42101-5031761-9
Aijaz Ahmed1:31 PM
4520691925699
Raja Waleed1:32 PM
4220188550515
wardah siddiqui1:41 PM
4210166120772
Munir Mirza1:43 PM
4210105756299
4220102372205
Ahsan Fayyaz1:48 PM
4220115069023\
4220115069023
salman soorani1:53 PM
4210124505207
Areeba Ghazal1:53 PM
42201083154184
salman soorani1:54 PM
4210105756299
Owais Ahmed1:54 PM
4220103194893
Imran Ali1:54 PM
4210176950677
Umer Fariq1:57 PM
4220122685447
Arsalan Shaikh1:58 PM
4220162053393
Kamran Younus1:59 PM
4230122270821
Fahad Aziz Khan1:59 PM
4220195795065
MAAZ AHMED1:59 PM
Attendance
42201-8174960-1
Engr Mahmood Ul Hassan1:59 PM
4250185234859
Sheza Shams2:02 PM
42201-0218814-0
Muneeb Bhania2:06 PM
42101-3818298-7
4250177756968
Hasba Imran2:07 PM
4210103758455
Raheel Sadruddin2:07 PM
4210129790553
Ali Mehdi2:07 PM
42201-9387133-1
Hassan Qamar2:08 PM
4220110629561
Abdul Haseeb Khan2:09 PM
4220103084339
Mohsin Kamal2:09 PM
https://pypi.org/project/pandasgui/
Ahmed Ali2:15 PM
42101-0724035-9
Masood M. Khokhar2:27 PM
4250148082389
Misbah Sabir2:28 PM
42101-5802137-4
Wahid Khan2:33 PM
4210116935049
Ahsan Fayyaz2:33 PM
4220115069023
Mohsin Kamal2:33 PM
4230108855633
salman soorani2:46 PM
4210124505207
wardah siddiqui2:47 PM
4210166120772
Areeba Ghazal2:49 PM
4220108354184
Muhammad Haris Bin Khalid2:49 PM
42101-0124403-1
Usama Ahmed2:50 PM
6110196883915
Syed Muzammil Haider2:51 PM
4210149039311
Umer Fariq2:51 PM
4220122685447
Raheel Sadruddin2:51 PM
4210129790553
SHAHRUKH KHAN2:51 PM
4210105390867
Mohsin Kamal2:51 PM
4230108855633
Ali Affan Yaqoob2:51 PM
42101-5031761-9
Engr Mahmood Ul Hassan2:51 PM
4250185234859
osama saleem2:51 PM
4220182861439
sadia faiyaz2:51 PM
4210157421004
Ahsan Fayyaz2:51 PM
4220115069023
Imran Ali2:51 PM
4210176950677
ShahzadAzam Hashmi2:51 PM
3630247912847
salman soorani2:51 PM
4210105756299
Arsalan Shaikh2:51 PM
4220162053393
yvm-vqao-gpa
"""

df8 = cnic(c8,'2023-05-27')
print(len(df8))
df8

43

             CNIC       Date
0   4220176777201 2023-05-27
1   4250148082389 2023-05-27
2   3720117887067 2023-05-27
3   4250185234859 2023-05-27
4   4210132209059 2023-05-27
5   4220182861439 2023-05-27
6   4230122270821 2023-05-27
7   4210107240359 2023-05-27
8   4210124505207 2023-05-27
9   4220103194893 2023-05-27
10  4210158892613 2023-05-27
11  4210105756299 2023-05-27
12  6110119569820 2023-05-27
13  4210157421004 2023-05-27
14  4210150317619 2023-05-27
15  4520691925699 2023-05-27
16  4220188550515 2023-05-27
17  4210166120772 2023-05-27
19  4220102372205 2023-05-27
20  4220115069023 2023-05-27
23  4220108315418 2023-05-27
26  4210176950677 2023-05-27
27  4220122685447 2023-05-27
28  4220162053393 2023-05-27
30  4220195795065 2023-05-27
31  4220181749601 2023-05-27
33  4220102188140 2023-05-27
34  4210138182987 2023-05-27
35  4250177756968 2023-05-27
36  4210103758455 2023-05-27
37  4210129790553 2023-05-27
38  4220193871331 2023-05-27
39  4220110629561 2023-05-27
40  4220103084339 2023-05-27
43  4210158021374 2023-05-27
44  4210116935049 2023-05-27
46  4230108855633 2023-05-27
49  4220108354184 2023-05-27
50  4210101244031 2023-05-27
51  6110196883915 2023-05-27
52  4210149039311 2023-05-27
55  4210105390867 2023-05-27
63  3630247912847 2023-05-27

In [3]:
c9 = """
Team NED Academy1:07 PM
Sir recording
Masood M. Khokhar1:10 PM
4250148082389
Suhail Arif1:14 PM
Suhail arif hussain 4220176777201
Zubair ,1:14 PM
1310104942039
Ali Affan Yaqoob1:19 PM
42101-5031761-9
Munir Mirza1:30 PM
4210105756299
4220102372205
Iqra Talha1:30 PM
6110120315128
Aijaz Ahmed1:30 PM
4520691925699
Athar Khalid1:30 PM
4210158892613
salman soorani1:34 PM
4210124505207
Maria Noor Amjad1:34 PM
6110119569820
salman soorani1:43 PM
4210105756299
Ahsan Fayyaz1:43 PM
4220115069023
Noor Saba1:43 PM
4220178140796
Sadaf Tirmizi1:44 PM
4210172467310
sadia faiyaz1:44 PM
4210157421004
Imran Ali1:45 PM
4210176950677
Abdul Haseeb Khan1:46 PM
4220103084339
Umer Fariq1:54 PM
4220122685447
Engr Mahmood Ul Hassan2:03 PM
4250185234859
Abdulrafay Memon2:05 PM
4520434839071
Ali Affan Yaqoob2:05 PM
42101-5031761-9
Kamran Younus2:07 PM
4230122270821
Ahmed Ali2:09 PM
4210107240359
Ali Mehdi2:11 PM
42201-9387133-1
Masood M. Khokhar2:26 PM
42501-4808238-9
salman soorani2:27 PM
4210124505207
Usama Ahmed2:29 PM
6110196883915
osama saleem2:29 PM
4220182861439
Misbah Sabir2:29 PM
42101-5802137-4
salman soorani2:29 PM
4210105756299
Saad Shoaib2:30 PM
4130414016931
Ali Affan Yaqoob2:31 PM
42101-5031761-9
Saad Shoaib2:31 PM
4220162053393
Owais Ahmed2:33 PM
42201-0319489-3
Mutawassam Ali2:34 PM
3720117887067
Noor Saba2:34 PM
4220187822116
sadia faiyaz2:35 PM
4210157421004
Wahid Khan2:41 PM
4210116935049
Ahzam2:41 PM
4220176323111
usama hanif2:44 PM
4210132209059
Hassan Qamar2:46 PM
4220110629561
Ali Affan Yaqoob2:47 PM
42101-5031761-9
ShahzadAzam Hashmi2:49 PM
3630247912847
Kamran Younus2:50 PM
4230122270821
Muneeb Bhania2:50 PM
42101-3818298-7
Areeba Ghazal2:50 PM
4220108354184
Ahsan Fayyaz2:50 PM
4220115069023
Muneeb Bhania2:50 PM
4250177756968
4210105390867
Fahad Aziz Khan2:54 PM
4220195795065
MAAZ AHMED2:54 PM
Attendance
42201-8174960-1
Masood M. Khokhar2:54 PM
4250148082389
Mohsin Kamal2:54 PM
4230108855633
Engr Mahmood Ul Hassan2:55 PM
4250185234859
Muhammad Haris Bin Khalid2:55 PM
42101-0124403-1
yvm-vqao-gpa
"""

df9 = cnic(c9,'2023-05-28')
print(len(df9))
df9

44

             CNIC       Date
0   4250148082389 2023-05-28
1   4220176777201 2023-05-28
2   1310104942039 2023-05-28
3   4210150317619 2023-05-28
4   4210105756299 2023-05-28
5   4220102372205 2023-05-28
6   6110120315128 2023-05-28
7   4520691925699 2023-05-28
8   4210158892613 2023-05-28
9   4210124505207 2023-05-28
10  6110119569820 2023-05-28
12  4220115069023 2023-05-28
13  4220178140796 2023-05-28
14  4210172467310 2023-05-28
15  4210157421004 2023-05-28
16  4210176950677 2023-05-28
17  4220103084339 2023-05-28
18  4220122685447 2023-05-28
19  4250185234859 2023-05-28
20  4520434839071 2023-05-28
22  4230122270821 2023-05-28
23  4210107240359 2023-05-28
24  4220193871331 2023-05-28
27  6110196883915 2023-05-28
28  4220182861439 2023-05-28
29  4210158021374 2023-05-28
31  4130414016931 2023-05-28
33  4220162053393 2023-05-28
34  4220103194893 2023-05-28
35  3720117887067 2023-05-28
36  4220187822116 2023-05-28
38  4210116935049 2023-05-28
39  4220176323111 2023-05-28
40  4210132209059 2023-05-28
41  4220110629561 2023-05-28
43  3630247912847 2023-05-28
45  4210138182987 2023-05-28
46  4220108354184 2023-05-28
48  4250177756968 2023-05-28
49  4210105390867 2023-05-28
50  4220195795065 2023-05-28
51  4220181749601 2023-05-28
53  4230108855633 2023-05-28
55  4210101244031 2023-05-28